header {
    
 
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

 
  main {
    background-image: url("bakgrundsbild (1).webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
    background-position: center;
    background-color: rgb(63, 7, 7);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

 
  button {
    background-color: white;
    color: red;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: red;
    color: white;
  }

 
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }

  #reservation {
    background-color: rgba(96, 5, 5, 0.7);
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
  }